<div class="container">
  <h1>New Task</h1>
  <%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.submit "Create Task", class:"btn btn-primary" %>
<% end %>


</div>
